 <a href="cart" class="fas fa-shopping-cart position-relative">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger sepet">
                        {{bell}}
                        </span>
                        <span class="visually-hidden">unread messages</span>
                </a>